.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }

  .login-container p {
    cursor: pointer;
  }
  
  .login-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }